<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version updates</key>
	<dict>
		<key>0.4.1</key>
		<dict>
			<key>Producer.Audio.Segment size</key>
			<integer>1000</integer>
			<key>Consumer.Buffer size</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>First launch</key>
	<true/>
	<key>Last launched version</key>
	<string></string>
	<key>User discovery prefix</key>
	<string>/ndn/broadcast/ndnrtc/users</string>
	<key>Chat</key>
	<dict>
		<key>Chat broadcast prefix</key>
		<string>/ndn/broadcast/chrono-chat0.3</string>
		<key>Chatroom broadcast prefix</key>
		<string>/ndn/broadcast/ndnrtc-chatrooms</string>
	</dict>
	<key>Conference</key>
	<dict>
		<key>Conference broadcast prefix</key>
		<string>/ndn/broadcast/ndnrtc/conferences</string>
	</dict>
	<key>General</key>
	<dict>
		<key>Log level</key>
		<string>all</string>
		<key>Use TLV</key>
		<true/>
		<key>Retransmissions enabled</key>
		<true/>
		<key>FEC enabled</key>
		<true/>
		<key>App caching enabled</key>
		<true/>
		<key>AV sync enabled</key>
		<true/>
		<key>Audio enabled</key>
		<true/>
		<key>Video enabled</key>
		<true/>
		<key>Skip incomplete frames</key>
		<true/>
		<key>Default prefix</key>
		<string>/ndn/edu/ucla/remap</string>
		<key>Default username</key>
		<string>jedi</string>
		<key>NDN daemon</key>
		<dict>
			<key>Host</key>
			<string>localhost</string>
			<key>Port</key>
			<integer>6363</integer>
		</dict>
	</dict>
	<key>Consumer</key>
	<dict>
		<key>Interest lifetime</key>
		<real>2000</real>
		<key>Jitter size</key>
		<integer>300</integer>
		<key>Buffer size</key>
		<integer>200</integer>
		<key>Slot size</key>
		<real>16000</real>
	</dict>
	<key>Producer</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Segment size</key>
			<integer>1000</integer>
			<key>Freshness period</key>
			<string>1000</string>
		</dict>
		<key>Video</key>
		<dict>
			<key>Segment size</key>
			<integer>1000</integer>
			<key>Freshness period</key>
			<integer>1000</integer>
		</dict>
		<key>Audio streams</key>
		<array>
			<dict>
				<key>Name</key>
				<string>mic</string>
				<key>Segment size</key>
				<integer>500</integer>
				<key>Freshness period</key>
				<integer>1000</integer>
				<key>Input device</key>
				<integer>0</integer>
				<key>Device configuration</key>
				<integer>-1</integer>
				<key>Synchronized to</key>
				<string>main_camera</string>
				<key>Threads</key>
				<array>
					<dict>
						<key>Name</key>
						<string>pcmu</string>
						<key>Start bitrate</key>
						<string>90</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Video streams</key>
		<array>
			<dict>
				<key>Name</key>
				<string>main_camera</string>
				<key>Segment size</key>
				<integer>1000</integer>
				<key>Freshness period</key>
				<integer>1000</integer>
				<key>Input device</key>
				<integer>0</integer>
				<key>Device configuration</key>
				<integer>-1</integer>
				<key>Synchronized to</key>
				<string>mic</string>
				<key>Threads</key>
				<array>
					<dict>
						<key>Name</key>
						<string>low</string>
						<key>Frame rate</key>
						<integer>30</integer>
						<key>GOP</key>
						<integer>30</integer>
						<key>Start bitrate</key>
						<integer>200</integer>
						<key>Max bitrate</key>
						<integer>0</integer>
						<key>Drop frames</key>
						<true/>
						<key>Encoding width</key>
						<integer>320</integer>
						<key>Encoding height</key>
						<integer>240</integer>
					</dict>
					<dict>
						<key>Name</key>
						<string>mid</string>
						<key>Frame rate</key>
						<integer>30</integer>
						<key>GOP</key>
						<integer>30</integer>
						<key>Start bitrate</key>
						<integer>500</integer>
						<key>Max bitrate</key>
						<integer>0</integer>
						<key>Drop frames</key>
						<true/>
						<key>Encoding width</key>
						<integer>640</integer>
						<key>Encoding height</key>
						<integer>480</integer>
					</dict>
					<dict>
						<key>Name</key>
						<string>hi</string>
						<key>Frame rate</key>
						<integer>30</integer>
						<key>GOP</key>
						<integer>30</integer>
						<key>Start bitrate</key>
						<integer>1000</integer>
						<key>Max bitrate</key>
						<integer>0</integer>
						<key>Drop frames</key>
						<true/>
						<key>Encoding width</key>
						<integer>640</integer>
						<key>Encoding height</key>
						<integer>480</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Global fetch options</key>
	<dict>
		<key>userFetchAudio</key>
		<true/>
		<key>userFetchVideo</key>
		<true/>
	</dict>
</dict>
</plist>
